@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);

  --font-title: var(--font-round8);
  --font-paragraph: var(--font-barnegat);

  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);

  --color-grey: var(--grey);
  --color-white: var(--white);
  --color-black: var(--black);
  --color-deep-green: var(--deep-green);
  --color-dew-green: var(--dew-green);
  --color-moss-green: var(--moss-green);
  --color-meadow-fresh-primary: var(--meadow-fresh-primary);
  --color-meadow-fresh-forest-green: var(--meadow-fresh-forest-green);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --ease-default: cubic-bezier(0.3, 0, 0, 1);
}

:root {
  --grey: #f2f2f2;
  --darker-grey: #dfdfdf;
  --green-grey: #2a342a;
  --white: #ffffff;
  --black: #000000;
  --deep-green: #0d180d;
  --dew-green: #cafdc3;
  --moss-green: #192319;
  --meadow-fresh-primary: #50b848;
  --meadow-fresh-forest-green: #008047;

  --radius: 0.625rem;

  --background: var(--grey);
  --foreground: var(--moss-green);

  --primary: var(--dew-green);
  --primary-foreground: var(--deep-green);

  --border: var(--darker-grey);

  --muted: var(--darker-grey);
  --muted-foreground: oklch(0.556 0 0);

  --card: var(--grey);
  --card-foreground: var(--moss-green);

  --popover: var(--grey);
  --popover-foreground: var(--moss-green);

  --accent: var(--darker-grey);
  --accent-foreground: var(--moss-green);

  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  --card-aspect: 0.718;
  --card-radius: 4.55% / 3.5%;
  --card-edge: hsl(47, 100%, 78%);
  --card-back: hsl(205, 100%, 25%);
  --card-glow: hsl(175, 100%, 90%);

  --sunpillar-1: hsl(2, 100%, 73%);
  --sunpillar-2: hsl(53, 100%, 69%);
  --sunpillar-3: hsl(93, 100%, 69%);
  --sunpillar-4: hsl(176, 100%, 76%);
  --sunpillar-5: hsl(228, 100%, 74%);
  --sunpillar-6: hsl(283, 100%, 73%);

  --sunpillar-clr-1: var(--sunpillar-1);
  --sunpillar-clr-2: var(--sunpillar-2);
  --sunpillar-clr-3: var(--sunpillar-3);
  --sunpillar-clr-4: var(--sunpillar-4);
  --sunpillar-clr-5: var(--sunpillar-5);
  --sunpillar-clr-6: var(--sunpillar-6);
}

.dark {
  --background: var(--deep-green);
  --foreground: var(--grey);

  --primary: var(--dew-green);
  --primary-foreground: var(--deep-green);

  --border: var(--green-grey);

  --muted: var(--green-grey);
  --muted-foreground: oklch(0.556 0 0);

  --card: var(--deep-green);
  --card-foreground: var(--grey);

  --popover: var(--deep-green);
  --popover-foreground: var(--grey);

  --accent: var(--green-grey);
  --accent-foreground: oklch(0.985 0 0);

  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);

  --destructive: oklch(0.704 0.191 22.216);

  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
    hanging-punctuation: center;
  }
  body {
    @apply bg-background text-foreground;
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }

  .hanging-punctuation-center {
    hanging-punctuation: center;
  }
  .bg-title-gradient {
    background-color: var(--moss-green);
    background-image: radial-gradient(
      ellipse 150% 150% at 50% 0%,
      transparent 50%,
      transparent 58%,
      var(--dew-green) 89%
    );
  }
}
